<!--
  ~ Copyright 10/10/2018 Hahalolo. All rights reserved.
  ~
  ~ https://help.hahalolo.com/commercial_terms/
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halo.okdownload">

    <application>
        <provider
            android:name=".OkDownloadProvider"
            android:authorities="${applicationId}.com.halo.okdownload"
            android:exported="false" />
    </application>
</manifest>
