<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.hahalolo.qrcode">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name=".QRCodeAct"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MessengerTheme"/>

        <activity android:name=".QRCodeReaderAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/HahaloloTheme.QRCode"/>
    </application>
</manifest>