<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hahalolo.playcore">

    <application>
        <activity
            android:name=".language.PlayCoreLanguageAct"
            android:configChanges="orientation|screenSize|locale"
            android:launchMode="singleTop" />

        <activity
            android:name="com.hahalolo.playcore.update.PlayCoreUpdateAct"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/MessengerTheme" />
    </application>
</manifest>